#Recharge {
  .info {
    height: 0.9rem;
    background-color: #292929;
    margin-top: 0.2rem;
    color: #fff;
    font-size: 0.32rem;
    line-height: 0.9rem;
    text-indent: 0.29rem;
    span {
      color: #ffe48c;
    }
  }
  .money {
    padding: 0.39rem 0.3rem 0;
    height: 3.3rem;
    background-color: #292929;
    margin-top: 0.2rem;
    p {
      font-size: 0.32rem;
      color: #bbb;
    }
    .rmb {
      width: 0.4rem;
      vertical-align: middle;
    }
    .iptBox {
      margin-top: 0.4rem;
      height: 0.81rem;
      line-height: 0.81rem;
      border-bottom: 1px solid #6c563f;
      padding-bottom: 0.2rem;
      & > input {
        vertical-align: middle;
        font-size: 0.5rem;
        background-color: #292929;
        outline: none;
        padding: 0 0.1rem;
        color: #fff;
      }
    }
    .checker {
      span {
        display: inline-block;
        width: 2.1rem;
        height: 0.7rem;
        line-height: 0.7rem;
        text-align: center;
        background-color: #292929;
        border-radius: 0.1rem;
        border: 1px solid #d5b77f;
        margin-top: 0.3rem;
        margin-left: 0.15rem;
        color: #bbb;
        font-size: 0.3rem;
        &:nth-child(1) {
          margin-left: 0;
        }
        &.sel {
          background-color: #d5b77f;
          color: #333;
        }
      }
    }
  }
  .title {
    height: 0.9rem;
    line-height: 0.9rem;
    color: #888;
    text-indent: 0.3rem;
    font-size: 0.32rem;
    margin-bottom: -0.2rem;
  }
  .receipt {
    height: 100%;
    background-color: #222;
    z-index: 5000;
    & > .vux-header {
      position: relative !important;
    }
    .moneyTop {
      font-size: 0.7rem;
      height: 2.3rem;
      line-height: 2.3rem;
      width: 100%;
      text-align: center;
      color: #bbb;
      margin-top: 0.1rem;
      background-color: rgba(41, 41, 41, 1);
      span {
        color: #ffe48c;
      }
    }
    .infoTip {
      p:nth-child(1) {
        color: #d3a04c;
        font-size: 0.28rem;
        line-height: 0.68rem;
        text-indent: 0.3rem;
        border-bottom: 1px solid rgba(108, 86, 63, 1);
      }
      p:nth-child(2) {
        color: #bbb;
        font-size: 0.32rem;
        text-align: center;
        line-height: 0.9rem;
      }
    }
    .vux-x-input {
      color: #fff;
    }
    .btn {
      width: 6.9rem;
      margin: 0.4rem 0.3rem;
      background-color: rgba(213, 183, 127, 1);
      color: #333;
      font-size: 0.32rem;
    }
    .hint {
      color: #d3a04c;
      font-size: 0.28rem;
      padding: 0.3rem;
      p {
        line-height: 0.55rem;
      }
    }
    .radio {
      background-color: #292929;
      margin-top: 0.1rem;
      & > div {
        display: flex;
        height: 1.4rem;
        padding: 0.3rem;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(108, 86, 63, 1);
        align-items: center;
        position: relative;
        img {
          width: 0.8rem;
        }
        span {
          margin-left: 0.2rem;
          display: block;
          &:nth-child(1) {
            color: #fff;
            font-size: 0.32rem;
          }
          &:nth-child(2) {
            font-size: 0.26rem;
            color: #bbb;
          }
        }
        .sel,
        .nosel {
          width: 0.32rem;
          height: 0.32rem;
          position: absolute;
          right: 0.3rem;
        }
      }
    }
    .ercodeShow {
      background-color: #292929;
      margin-top: 0.1rem;
      text-align: center;
      padding: 0.3rem 0;
      img {
        width: 4rem;
        height: 4rem;
        display: inline-block;
      }
      p:nth-child(2) {
        color: #fff;
        font-size: 0.4rem;
        span {
          color: #ffe48c;
        }
      }
      p:nth-child(3) {
        color: #bbbbbb;
        font-size: 0.32rem;
      }
    }
    .ERcodeInfo {
      padding: 0.3rem;
      box-sizing: border-box;
      color: #d3a04c;
      font-size: 0.28rem;
    }
  }
}
