#QuestionValidate {
  background-color: #292929;
  height: 100%;
  .first {  
    color: #ffe48c;
    font-size: 30px;
    margin: 54px 30px 60px 30px;
    & > :nth-child(2){  
      span { 
        color: #999999;
        font-size: 18px;
        input { 
        color: #666666;
        font-size: 16px; 
        margin-top: 50px;
        border-bottom: 1px #6c563f solid;
        width: 100%; 
        height: 50px;
        line-height: 50px;
        background-color: #292929;
        }
      }
    }
    & > :nth-child(3){ 
      margin-top: 50px; 
      height: 44px;
      line-height: 44px;
      background: rgba(213, 183, 127, 1);
      color: #333;
      font-size: 18px;
      text-align: center;
      border-radius: 20px;  
    } 
  } 
  .validateClass{
    background-color: #292929;
    .seconed {  
      color: #ffe48c;  
      font-size: 30px;
      margin: 54px 30px 60px 30px;
      .questionClass {
        color: #ffffff;
        .weui-cell{   
          padding-left: 0px; 
        }
        .weui-cell:nth-child(2n){    
          color: #ffe48c;  
        } 
      }
      & > :nth-child(2){  
        span { 
          color: #999999;
          font-size: 18px;
          input { 
          color: #666666;
          font-size: 16px; 
          margin-top: 50px;
          border-bottom: 1px #6c563f solid;
          width: 100%; 
          height: 50px;
          line-height: 50px;
          background-color: #292929;
          }
        }
      }
      & > :nth-child(3){ 
        margin-top: 50px; 
        height: 44px;
        line-height: 44px;
        background: rgba(213, 183, 127, 1);
        color: #333;
        font-size: 18px;
        text-align: center;
        border-radius: 20px;  
      } 
    }
  }
  
  .setPasswordClass{
    background-color: #292929;
    .third {  
      color: #ffe48c;  
      font-size: 30px;
      margin: 54px 30px 60px 30px;
        

      & > :nth-child(2){   
        margin-bottom: 50px; 
        span { 
          color: #999999;
          font-size: 18px;
          input { 
          color: #666666;
          font-size: 16px; 
          margin-top: 20px;
          border-bottom: 1px #6c563f solid;
          width: 100%; 
          height: 50px;
          line-height: 50px;
          background-color: #292929;
          }
        }
      }
      & > :nth-child(3){ 
        margin-top: 50px; 
        height: 44px;
        line-height: 44px;
        background: rgba(213, 183, 127, 1);
        color: #333;
        font-size: 18px;
        text-align: center;
        border-radius: 20px;  
      } 
    }
  }
  .valPasswordClass {
    background-color: #292929;
    .third {  
      color: #ffe48c;  
      font-size: 30px;
      margin: 54px 30px 60px 30px;
        

      & > :nth-child(2){   
        margin-bottom: 50px; 
        span { 
          color: #999999;
          font-size: 18px;
          input { 
          color: #666666;
          font-size: 16px; 
          margin-top: 20px;
          border-bottom: 1px #6c563f solid;
          width: 100%; 
          height: 50px;
          line-height: 50px;
          background-color: #292929;
          }
        }
      }
      & > :nth-child(3){ 
        margin-top: 50px; 
        height: 44px;
        line-height: 44px;
        background: rgba(213, 183, 127, 1);
        color: #333;
        font-size: 18px;
        text-align: center;
        border-radius: 20px;  
      } 
    }
  }
}
