#TeamSurplus {
    color: #fff;
    .vux-header-title>div {
        img {
            position: absolute;
            top: 15px;
            width: .3rem;
            margin-left: .1rem;
        }
    }
    .vux-header-title>div {
        img {
            position: absolute;
            top: 17px;
            width: .3rem;
            margin-left: .1rem;
        }
    }
    .surplusDetailPopup {
        overflow: hidden;
        background-color: rgba(51, 51, 51, 1);
        float: left;
        width: 100%;
        top: 46px;
        ul {
            overflow: hidden;
            background-color: rgba(51, 51, 51, 1);
            border-top: 10px;
            li {
                float: left;
                width: 90%;
                margin-left: 5%;
                line-height: 1.05rem;
                height: 1.05rem;
                text-align: left;
                box-sizing: border-box;
                padding-left: 0.28rem;
                border-bottom: #6c563f 1px solid;
                &>span:nth-child(1) {
                    float: left;
                    font-size: .28rem;
                    width: 48%;
                    color: #ffffff;
                    /*  background-color: rgba(51, 51, 51, 1); */
                    box-sizing: border-box;
                }
                &>span:nth-child(2) {
                    float: right;
                    width: 48%;
                    font-size: .24rem;
                    text-align: right;
                    color: #bbbbbb;
                    /*    background-color: rgba(51, 51, 51, 1); */
                    box-sizing: border-box;
                }
            }
        }
        .queryLowerUserClass {
            z-index: 300;
            background-color: #ffe48c;
            ;
            position: fixed;
            bottom: 0;
            color: #333;
            font-size: 0.4rem;
            text-align: center;
            height: 0.98rem;
            line-height: 0.98rem;
            border-top: 0.2px solid rgba(108, 86, 63, 1);
            box-sizing: border-box;
            width: 100%;
        }
    }
    .menu {
        font-size: .28rem;
        top: 46px;
        ul {
            overflow: hidden;
            background-color: rgba(51, 51, 51, 1);
            margin-bottom: -1px;
            li {
                float: left;
                width: 90%;
                margin-left: 5%;
                line-height: 1.05rem;
                height: 1.05rem;
                color: #eee;
                text-align: left;
                box-sizing: border-box;
                padding-left: 0.38rem;
                border-bottom: rgba(108, 86, 63, 1) 1px solid;
                img {
                    float: right;
                    margin-right: .1rem;
                    width: .22rem;
                    margin-top: 20px;
                }
            }
        }
    }
    .main {
        top: 46px;
        ul {
            overflow: hidden;
            background-color: rgba(51, 51, 51, 1);
            margin-bottom: -1px;
            .title {
                float: left;
                width: 100%;
                line-height: 1.05rem;
                height: 1.05rem;
                color: #eee;
                text-align: center;
                box-sizing: border-box;
                border-bottom: rgba(108, 86, 63, 1) 1px solid;
                border-right: rgba(108, 86, 63, 1) 1px solid;
                &>span {
                    float: left;
                    width: 24%;
                }
            }
            .body {
                float: left;
                width: 100%;
                line-height: 1.05rem;
                height: 1.05rem;
                color: #eee;
                text-align: center;
                box-sizing: border-box;
                border-bottom: rgba(108, 86, 63, 1) 1px solid;
                border-right: rgba(108, 86, 63, 1) 1px solid;
                &>span {
                    float: left;
                    width: 24%;
                }
                .red {
                    color: red;
                }
                &>span:nth-child(1) {
                    color: #ffe48c;
                    ;
                }
            }
        }
    }
    .query {
        top: 46px;
        width: 80%;
        margin-left: 20%;
        height: 100%;
        background-color: rgba(51, 51, 51, 1);
        .queryDate {
            overflow: hidden;
            height: 1.8rem;
            margin-bottom: -1px;
            border-top: rgba(108, 86, 63, 1) 1px solid;
            .selectStartDatetime {
                width: 40%;
                float: left;
                font-size: 0.32rem;
                padding: 2px 3px;
            }
            .selectEndDatetime {
                width: 40%;
                float: right;
                font-size: 0.32rem;
                padding: 2px 3px;
            }
            .queryMiddle {
                width: 15%;
                float: left;
                text-align: center;
                line-height: 1rem;
            }
            .weui-cells {
                height: .9rem;
                line-height: .9rem;
                margin-bottom: .2rem;
            }
        }
        .queryUser {
            overflow: hidden;
            text-align: center;
            margin-bottom: -1px;
            height: 0.9rem;
            line-height: 0.9rem;
            border-top: rgba(108, 86, 63, 1) 1px solid;
            &>input {
                background-color: rgb(134, 130, 130);
                margin-left: 0.2rem;
                height: 26px;
            }
        }
        .sub {
            overflow: hidden;
            text-align: center;
            background-color: #ffe48c;
            color: #333;
            margin-bottom: -1px;
            height: 0.7rem;
            line-height: 0.7rem;
            border-top: rgba(108, 86, 63, 1) 1px solid;
            font-size: .3rem;
            margin-top: .2rem;
        }
    }
}